<!-- app.html -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Craft</title>
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16-2.png">
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="style2.css">
  <!-- script to resize the iframe    -->
  <script>
      function resizeIframe(obj) {
          obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      }
  </script>
</head>
<html>
<body>
  <h1>Hello World</h1>
  <h1>{{data['Date']}}</h1>
  <div class="avatar">
    <img src="{{ data['Image'] }}" alt="Iamge from s3" style="width:150px;height:150px;border:1">
  </div>
  <h1>{{data['DbString']}}</h1>
</body>
</html>