<!-- diag.html -->
<title>Craft</title>
<html>
<table>
<h1>Total Instances :: {{inst_count}}</h1>
<h2>NginxVersion : {{nginx_ver}}</h2>
    <tr>
        <th style="padding:0 30px 0 30px;">InstanceId</th>
        <th style="padding:0 30px 0 30px;">InstanceStatus</th>
    </tr>
        {% for item,value in return_data.items():%}
    <tr>
        <td style="padding:0 15px 0 15px;">{{item}}</td>
        <td style="padding:0 15px 0 15px;">{{value}}</td>
    </tr>
        {% endfor %}
</table>
</html>